<script>

    $(document).ready(function () {
        let colors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0', '#546E7A', '#26a69a', '#D10CE8', '#7bdcb5', '#9b5de5', '#f15bb5', '#45b6fe', '#1de9b6', '#ff6347', '#ff7f50', '#4169E1', '#FF00FF', '#00FFFF', '#0000FF', '#FFFF00'];

        let visChart = JSON.parse('{{ visChart|escapejs }}');
        let vistChartLabels = [];
        let chartDays = [];
        let data = [];
        visChart.forEach(element => {
            vistChartLabels.push(element.weekday_name);
            chartDays.push(element.weekday_name);
            data.push(element.count);
        });

        let colorList = colors.slice(); // Make a copy of the colors array
        let series = [{
            data, colors: []
        }];

        // Set a different color for each data point in the series
        for (let i = 0; i < data.length; i++) {
            let colorIndex = i % colorList.length;
            let color = colorList[colorIndex];
            series[0].colors.push(color);
        }

        // Remove the colors that have already been used
        colorList.splice(0, data.length % colorList.length);

        // Bar chart on visitors
        var options = {
            series,
            chart: {
                type: 'bar',
                height: 250,
                toolbar: {
                    show: false,
                },
            },
            plotOptions: {
                bar: {
                    distributed: true,
                    borderRadius: 4,
                    horizontal: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: chartDays,
            }

        };

        var chart = new ApexCharts(document.querySelector("#visitors"), options);
        chart.render();

        // Procedures Chart

        let proChart = JSON.parse('{{ proChart|escapejs }}');
        let weekdayNameToIndex = {
            "Mon": 0,
            "Tue": 1,
            "Wed": 2,
            "Thu": 3,
            "Fri": 4,
            "Sat": 5,
            "Sun": 6,
        };

        let chartData = {};
        proChart.forEach((element) => {
            let weekdayName = element.weekday_name;
            let acronym = element.Procedure__Modality__Acronym;
            let count = element.count;
            let index = weekdayNameToIndex[weekdayName];
            if (!(acronym in chartData)) {
                chartData[acronym] = Array(7).fill(0);
            }
            chartData[acronym][index] = count;
        });

        let proChartLabels = Object.keys(chartData);

        let seriesData = [];
        Object.keys(chartData).forEach((acronym) => {
            seriesData.push({
                name: acronym,
                data: chartData[acronym]
            });
        });

        let optionsBar = {
            chart: {
                type: 'bar',
                height: 250,
                width: '100%',
                stacked: false,
                toolbar: {
                    show: false
                },
            },
            dataLabels: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    horizontal: false,
                }
            },
            series: seriesData,
            xaxis: {
                categories: Object.keys(weekdayNameToIndex),
                labels: {
                    show: true
                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: true
                },
            },
            yaxis: {
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: '#777'
                    }
                }
            },
            title: {
                text: '',
                align: 'left',
                style: {
                    fontSize: '18px'
                }
            }
        };

        let chartBar = new ApexCharts(document.querySelector('#procedure'), optionsBar);
        chartBar.render();

    });

</script>