<script>
    'use strict';
    function generateColors(num) {
        var colors = [];
        var letters = '0123456789ABCDEF';
        for (var i = 0; i < num; i++) {
            var color = '#';
            for (var j = 0; j < 6; j++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            colors.push(color);
        }
        return colors;
    }
    var colors = generateColors(20);

    const size = 350;
    $(document).ready(function () {
        // Chart for Procedures within a week
        
        let visChart = JSON.parse('{{ visChart|escapejs }}');
        let vistChartLabels = [];
        let chartDays = [];
        let data = [];
        visChart.forEach(element => {
            vistChartLabels.push(element.weekday_name);
            chartDays.push(element.weekday_name);
            data.push(element.count);
        });

        let proChart = JSON.parse('{{ proChart|escapejs }}');
        let proChartLabels = [];
        let procedureData = [];
        proChart.forEach((element,index) => {
            proChartLabels.push(element.weekday_name);
            procedureData.push({
                name: element.Procedure,
                color: colors[index+5],
                data: [element.count],
            });
        });
        
        var optionsBar = {
            chart: {
                type: 'bar',
                height: 250,
                width: '100%',
                stacked: true,
                toolbar: {
                    show: false
                },
            },

            dataLabels: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    horizontal: false,
                }
            },

            series: procedureData,
            labels: proChartLabels,
            xaxis: {
                labels: {
                    show: true
                },
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: true
                },
            },
            yaxis: {
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: '#777'
                    }
                }
            },
            title: {
                text: '',
                align: 'left',
                style: {
                    fontSize: '18px'
                }
            }

        };

        var chartBar = new ApexCharts(document.querySelector('#procedure'), optionsBar);
        chartBar.render();

        // Bar chart on visitors
        var options = {
            series: [{
                data
            }],
            chart: {
                type: 'bar',
                height: 250,
                toolbar: {
                    show: false,
                },
            },
            plotOptions: {
                bar: {
                    distributed: true,
                    borderRadius: 4,
                    horizontal: false,
                }
            },
            colors: colors,
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: chartDays,
            }

        };

        var chart = new ApexCharts(document.querySelector("#visitors"), options);
        chart.render();
       

    });


</script>