{% extends 'I_CARE/admin/index.html' %}

{% block extra-css %}
<!-- Datatables CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/plugins/datatables/datatables.min.css' %}">
{% endblock extra-css %}

<!--dashboard-menu -->
{% block dashboard-menu %}
<nav class="dashboard-menu">
	<ul>
		<li class="active">
			<a href="{% url 'doc' 'dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fas fa-calendar-check"></i>
				<span>Appointments</span>
			</a>
		</li>
		<li>
			<a href="{% url 'doc' 'consulting' %}">
				<i class="fas fa-user-injured"></i>
				<span>Consultation</span>
			</a>
		</li>
		<!-- <li>
			<a href="schedule-timings.html">
				<i class="fas fa-hourglass-start"></i>
				<span>Schedule Timings</span>
			</a>
		</li> -->
	</ul>
</nav>
{% endblock dashboard-menu %}
<!-- /dashboard-menu -->

<!-- page content -->
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card card-table mb-5">
			<div class="card-header p-2">
				<button class="nav-link active bg-warning" >Presented complaints/vitals, latest today</button>
			</div>
			<div class="card-body">
				<div class="table-responsive p-2">
					<table id="patientTable" class="table table-bordered table-hover table-center mb-0">
						<thead>
							<tr>
								<th>Patient Identity</th>
								<th>Last Seen</th>
								<th>Department</th>
								<th>Client Status</th>
								<th class="text-center">Balance</th>
							</tr>
						</thead>
						<tbody>
							{% for vit in vit_tday %}
							<tr>
								<td>
									<h2 class="table-avatar">
										{% if 'avatar' in vit.Profile.url %}
										<a href="{{vit.Profile}}" class="avatar avatar-sm mr-2"><img
											class="avatar-img rounded-circle"
											src="{{vit.Profile}}" alt="User Image"></a>
										{% else %}
										<a href="{{vit.Profile.url}}" class="avatar avatar-sm mr-2"><img
											class="avatar-img rounded-circle"
											src="{{vit.Profile.url}}" alt="User Image"></a>
										{% endif %}
						
										<a href="patient-profile.html">{{vit}}
											<span>#{{vit.Patient_Id}}</span></a>
									</h2>
								</td>
								<td>
									<h2 class="table-avatar">
										<a href="patient-profile.html">{{vit.Last_Visit|date:"D M d, Y"}}
											<span class="d-block text-info text-capitalize"><i class="fa fa-clock-o"></i> {{vit.Last_Visit|date:"H:m a"}}</span></a>
									</h2>
								</td>
								<td class="text-capitalize">{{vit.Department}}
									<!-- <span class="d-block text-info"></span> -->
								</td>
								<td>{{vit.Status}}</td>
								<td class="text-center">{{vit.Balance}}</td>
								<!-- <td class="text-right">
									<div class="table-action">
										<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
											<i class="fa fa-user-nurse"></i> View
										</a>
	
										<a href="javascript:void(0);" class="btn btn-sm bg-success-light">
											<i class="fas fa-check"></i> Accept
										</a>
										<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
											<i class="fas fa-times"></i> Cancel
										</a>
									</div>
								</td> -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
<!-- /page content -->

{% block extra-js %}

<!-- Sticky Sidebar JS -->
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<!-- Datatables JS -->
<script src="{% static 'admin/assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/assets/plugins/datatables/datatables.min.js' %}"></script>
    
<!-- jquery-datatable.js -->
<script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'web-assets/assets/js/script.js' %}"></script>

<script>
	  $(document).ready(function () {
        $('#patientTable').DataTable({
            // destroy : true,  
            paging: true,
            ordering: true,
            info: false,
            searching:false,
			bLengthChange: false,
            pageLength:7,
            lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
        });
    })
</script>

{% endblock extra-js %}

</body>

</html>