{% extends 'I_CARE/admin/index.html' %}

{% block extra-css %}

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'web-assets/assets/css/bootstrap-datetimepicker.min.css' %}">
<!-- Datatables CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/plugins/datatables/datatables.min.css' %}">

<style>
	.msg_content{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
</style>
{% endblock extra-css %}

<!--dashboard-menu -->
{% block dashboard-menu %}
<nav class="dashboard-menu">
	<ul>
        <li class="active">
            <a href="{% url 'opd' 'dashboard' %}">
                <i class="fas fa-columns"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'opd' 'pat-reg' %}">
                <i class="fas fa-user-friends"></i>
                <span>Patient Registration</span>
            </a>
        </li>
        <li>
            <a href="{% url 'opd' 'pat-update' %}">
                <i class="fas fa-user-edit"></i>
                <span>Patient Demographics</span>
            </a>
        </li>
		<li>
            <a href="{% url 'opd' 'pat-complaints' %}">
                <i class="fas fa-user"></i>
                <span>Existing Patients</span>
            </a>
        </li>
		<li>
            <a href="{% url 'opd' 'app_mesg' %}">
              <i class="fas fa-book"></i>
              <span>Appointment & Messages</span>
            </a>
        </li>
        <li>
            <a data-toggle="modal" href="#modal-alert">
              <i class="fas fa-send"></i>
              <span>Alert & Messaging</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock dashboard-menu %}
<!-- /dashboard-menu -->
 
<!-- page content -->
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card dash-card">
			<div class="card-body p-2">
				<div class="row">
					<div class="col-md-12 col-lg-4">
						<div class="dash-widget dct-border-rht">
							<div class="circle-bar circle-bar1">
								<div class="circle-graph1" data-percent="{{total_pat}}">
									<img src="{% static 'web-assets/assets/img/icon-01.png' %}" class="img-fluid" alt="patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Total Patient</h6>
								<h3>{{total_pat}}</h3>
								<p class="text-muted">Till Today</p>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<div class="dash-widget dct-border-rht">
							<div class="circle-bar circle-bar2">
								<div class="circle-graph2" data-percent="{{today_pat}}">
									<img src="{% static 'web-assets/assets/img/icon-02.png' %}" class="img-fluid" alt="Patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Today's Patient</h6>
								<h3>{{today_pat}}</h3>
								<p class="text-muted">{% now "jS F Y" %}</p>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<div class="dash-widget">
							<div class="circle-bar circle-bar3">
								<div class="circle-graph3" data-percent="{{tdApp}}">
									<img src="{% static 'web-assets/assets/img/icon-03.png' %}" class="img-fluid" alt="Patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Appointments</h6>
								<h3>{{tdApp}}</h3>
								<p class="text-muted">{% now "D, M jS,Y" %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- charts start -->
<div class="row">
	<!-- Visitors -->
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header p-1">
				<div class="row align-items-center">
					<div class="col-6 ">
						<h5 class="card-title">Daily Visit's</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div id="visitors"></div>
			</div>
		</div>
	</div>
	<!-- Patients -->
	<div class="col-md-12 col-lg-6">
		<div class="card card-chart">
			<div class="card-header p-1">
				<div class="row align-items-center">
					<div class="col-6">
						<h5 class="card-title">Procedure's of the week</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div id="procedure"></div>
			</div>
		</div>
	</div>
</div>
<!-- charts end -->

{% include 'I_CARE/admin/chart.html' %}
{% endblock content %}
<!-- /page content -->

{% block extra-js %}
 
<!-- Sticky Sidebar JS -->
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<!-- Circle Progress JS -->
<script src="{% static 'web-assets/assets/js/circle-progress.min.js' %}"></script>

<!-- Datatables JS -->
<script src="{% static 'admin/assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/assets/plugins/datatables/datatables.min.js' %}"></script>
    
<!-- jquery-datatable.js -->
<script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static 'web-assets/assets/js/moment.min.js' %}"></script>
<script src="{% static 'web-assets/assets/js/bootstrap-datetimepicker.min.js' %}"></script>


<!-- Custom JS -->
<script src="{% static 'web-assets/assets/js/script.js' %}"></script>

<script>

	$(document).ready(function () {
	  
	  $('#todayApp').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:true,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#upcomingApp').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:false,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#pastAppTab').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:true,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#msgTab').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:false,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
 	})

	function delData(data_type,comment,name,id) {
		let msg='None'
		let action='None'
		let other='None'
		if (data_type=='App') { // today/upcoming appointment
			action='cancel'
			other='discard'
			msg=`You want to cancel ${comment} with ${name} from your appointment records?`
		} else {
			action='discard'
			other='cancel'
			msg=`You want to discard this message/enquiry received from ${name} from your inbox?`
		}
		swal({
			title: "Are you sure?",
			text: msg,
			// imageUrl: '',
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: `Yes, ${action}`,
			cancelButtonText: `No, ${other}`,
			closeOnConfirm: false,
			closeOnCancel: true
		}, function (isConfirm) {
			if (isConfirm) {

				$.ajax({
					type: "POST",
					url: "{% url 'web-links' 'delete-app-msg' %}",
					data: {
						Type: data_type,
						Id: id,
						csrfmiddlewaretoken: '{{ csrf_token }}',
						dataType: "json"
					},
					success: function (data) {
						window.parent.showNotification(null, data['message'], 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');
						swal.close();
					},
					error: function (data) {
						swal("Error Occured", "Request aborted, please try again :)", "error");
					}
				});
			}
		});
	}
 
</script>

{% endblock extra-js %}

</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->

</html>