{% extends 'I_CARE/admin/index.html' %}

{% block extra-css %}

<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="{% static 'web-assets/assets/css/bootstrap-datetimepicker.min.css' %}">
<!-- Datatables CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/plugins/datatables/datatables.min.css' %}">

<style>
	.msg_content{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
</style>
{% endblock extra-css %}

<!--dashboard-menu -->
{% block dashboard-menu %}
<nav class="dashboard-menu">
	<ul>
        <li class="active">
            <a href="{% url 'opd' 'dashboard' %}">
                <i class="fas fa-columns"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'opd' 'pat-reg' %}">
                <i class="fas fa-user-friends"></i>
                <span>Patient Registration</span>
            </a>
        </li>
		<li>
            <a href="{% url 'opd' 'pat-complaints' %}">
                <i class="fas fa-user"></i>
                <span>Existing Patients</span>
            </a>
        </li>
		<li>
            <a href="{% url 'opd' 'pat-update' %}">
                <i class="fas fa-user-edit"></i>
                <span>Patient Demographics</span>
            </a>
        </li>
		<li >
            <a data-toggle="modal" href="#modal-alert">
                <i class="fas fa-mail-bulk"></i>
                <span>Send Message</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock dashboard-menu %}
<!-- /dashboard-menu -->
 
<!-- page content -->
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card dash-card">
			<div class="card-body p-2">
				<div class="row">
					<div class="col-md-12 col-lg-4">
						<div class="dash-widget dct-border-rht">
							<div class="circle-bar circle-bar1">
								<div class="circle-graph1" data-percent="{{total_pat}}">
									<img src="{% static 'web-assets/assets/img/icon-01.png' %}" class="img-fluid" alt="patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Total Patient</h6>
								<h3>{{total_pat}}</h3>
								<p class="text-muted">Till Today</p>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<div class="dash-widget dct-border-rht">
							<div class="circle-bar circle-bar2">
								<div class="circle-graph2" data-percent="{{today_pat}}">
									<img src="{% static 'web-assets/assets/img/icon-02.png' %}" class="img-fluid" alt="Patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Today's Patient</h6>
								<h3>{{today_pat}}</h3>
								<p class="text-muted">{% now "jS F Y" %}</p>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<div class="dash-widget">
							<div class="circle-bar circle-bar3">
								<div class="circle-graph3" data-percent="{{tdApp}}">
									<img src="{% static 'web-assets/assets/img/icon-03.png' %}" class="img-fluid" alt="Patient">
								</div>
							</div>
							<div class="dash-widget-info">
								<h6>Appointments</h6>
								<h3>{{tdApp}}</h3>
								<p class="text-muted">{% now "D, M jS,Y" %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- <h4 class="mb-1">Patient Appoinment</h4> -->
		<div class="appointment-tab">
			<!-- Appointment Tab -->
			<ul class="nav nav-tabs nav-tabs-solid nav-tabs-justified p-1">
				<li class="nav-item">
					<a class="nav-link active" href="#new_booking" data-toggle="tab">
						Book
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#today-appointments" data-toggle="tab">
						Today's Appointment
						<small class="unread-msg-tap text-white">{{tdApp}}</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#upcoming-appointments" data-toggle="tab">
						Upcoming Appointment
						<small class="unread-msg-tap text-white">{{tupApp}}</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#past-app" data-toggle="tab">
						Previous Appointment
						<small class="unread-msg-tap text-white">{{tpastApp}}</small>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#messages" data-toggle="tab">
						Messages & Enquiries 
						<small class="unread-msg-tap text-white">{{tmsgRec}}</small>
					</a>
				</li>
			</ul>
			<!-- /Appointment Tab -->
			<div class="tab-content">
				
				<!-- Booking Appointment Tab -->
				<div class="tab-pane show active" id="new_booking">
					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="uni-single-departments-right">
											<!--APPOINTMENTS-->
											<div class="uni-single-department-appointment">
												<h3 class="uni-single-departments-right-title">Book Appointment</h3>
												<div class="uni-divider"></div>
												<div class="uni-single-department-appointment-form">
													<form method="POST" action="{% url 'web-links' 'our-services' %}">
														{% csrf_token %}
														<div class="row">
															<div class="col-md-5">
																<div class="input-group form-group">
																	<span class="input-group-addon"><i class="fa fa-user"
																			aria-hidden="true"></i></span>
																	<input type="text" class="form-control" name="name" value=""
																	required placeholder="client name">
																</div>
																<div class="input-group form-group">
																	<span class="input-group-addon"><i class="fa fa-phone"
																			aria-hidden="true"></i></span>
																	<input type="tel" class="form-control" name="phone" value=""
																	required placeholder="phone number">
																</div>
																<div class="input-group form-group">
																	<span class="input-group-addon"><i class="fa fa-envelope"
																			aria-hidden="true"></i></span>
																	<input type="email" class="form-control" name="email" value=""
																	required placeholder="email">
																</div>
																<div class="input-group form-group">
																	<div class="input-group date date-check-in">
																		<span class="input-group-addon"><i class="fa fa-calendar"
																			aria-hidden="true"></i></span>
																		<input type="text" class="form-control datetimepicker" required
																		name="date"  placeholder="PREFERRED DATE" data-date-format="M-DD">
																		<span class="input-group-addon btn"><i
																			class="fa fa-calendar" id="ti-calendar1" aria-hidden="true"></i></span>
																	</div>
																</div>
															</div>
															<div class="col-md-7">
																<div class="input-group form-group">
																	<textarea name="message" class="form-control"
																	required placeholder="message"></textarea>
																</div>
																<div class="row">
																	<div class="col-md-5">
																		<div class="form-group">
																			<select name="preferred_time" required class="form-control form-control-md">
																				<option value="" selected>PREFERRED TIME</option>
																				<option value="MORNING">MORNING</option>
																				<option value="AFTERNOON">AFTERNOON</option>
																				<option value="EVENING">EVENING</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-3">
																		<button class="btn btn-md btn-primary">CONFIRM</button>
																	</div>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Booking Appoinment Tab -->

				<!-- Today Appointment Tab -->
				<div class="tab-pane" id="today-appointments">
					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="table-responsive">
								<table id="todayApp" class="table table-bordered table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Phone</th>
											<th>Purpose</th>
											<th>Preferred Date</th>
											<!-- <th class="text-center">Paid Amount</th> -->
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for val in todayApp %}
										<tr>
											<td>
												<h2 class="table-avatar">
													<!-- <a href="patient-profile.html" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'web-assets/assets/img/patients/patient.jpg' %}"
															alt="User Image"></a> -->
													<a href="{% url 'opd' val.id %}">{{val.Name}}<span>#{{val.Patient_Id}}/{{val.id}}</span></a>
												</h2>
											</td>
											<td>{{val.Phone}}
												<!-- <span class="d-block text-info">10.00 AM</span> -->
											</td>
											<td>{{val.Message}}</td>
											<td>{{val.Preferred_Time}}</td>
											<!-- <td class="text-center">$150</td> -->
											<td class="text-right">
												<div class="table-action">
													<a href="javascript:void(0);" onclick="delData('App','today`s appointment','{{val.Name}}','{{val.id}}')" class="btn btn-sm bg-danger-light">
														<i class="fas fa-times"></i> Cancel
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Today Appointment Tab -->

				<!-- Upcoming Appointment Tab -->
				<div class="tab-pane" id="upcoming-appointments">
					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="table-responsive">
								<table id="upcomingApp" class="table table-bordered table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Date</th>
											<th>Name</th>
											<th>Phone</th>
											<th>Purpose</th>
											<th>Preferred Date</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for val in upcomingApp %}
										<tr>
											<td>{{ val.Preferred_Date|date:'D, M jS, Y' }}</td>
											<td>
												<h2 class="table-avatar">
													<!-- <a href="patient-profile.html" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'web-assets/assets/img/patients/patient.jpg' %}"
															alt="User Image"></a> -->
													<a href="javascript:void(0);">{{val.Name}}<span>#{{val.Patient_Id}}/{{val.id}}</span></a>
												</h2>
											</td>
											<td>{{val.Phone}}
												<!-- <span class="d-block text-info">10.00 AM</span> -->
											</td>
											<td>{{val.Message}}</td>
											<td>{{val.Preferred_Time}}</td>
											<td class="text-right">
												<div class="table-action">
													<a href="javascript:void(0);" onclick="delData('App','upcoming appointment','{{val.Name}}','{{val.id}}')" class="btn btn-sm bg-danger-light">
														<i class="fas fa-times"></i> Cancel
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /upcoming Appointment Tab -->

				<!-- Past Appointment Tab -->
				<div class="tab-pane" id="past-app">
					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="table-responsive">
								<table id="pastAppTab" class="table table-bordered table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Date</th>
											<th>Name</th>
											<th>Phone</th>
											<th>Purpose</th>
											<!-- <th>Preferred Coming</th> -->
											<!-- <th class="text-center">Paid Amount</th>
											<th></th> -->
										</tr>
									</thead>
									<tbody>
										{% for val in pastApp %}
										<tr>
											<td>{{ val.Preferred_Date|date:'D, M jS, Y' }}</td>
											<td>
												<h2 class="table-avatar">
													<!-- <a href="patient-profile.html" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'web-assets/assets/img/patients/patient.jpg' %}"
															alt="User Image"></a> -->
													<a href="{% url 'opd' val.id %}">{{val.Name}}<span>#{{val.Patient_Id}}/{{val.id}}</span></a>
												</h2>
											</td>
											<td>{{val.Phone}}
												<!-- <span class="d-block text-info">10.00 AM</span> -->
											</td>
											<td>{{val.Message}}</td>
											<!-- <td>{{val.Preferred_Time}}</td> -->
											<!-- <td class="text-center">$150</td>
											<td class="text-right">
												<div class="table-action">
													<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
														<i class="far fa-eye"></i> View
													</a>

													<a href="javascript:void(0);" class="btn btn-sm bg-success-light">
														<i class="fas fa-check"></i> Accept
													</a>
													<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
														<i class="fas fa-times"></i> Cancel
													</a>
												</div>
											</td> -->
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Past Appointment Tab -->

				<!-- Messages Tab -->
				<div class="tab-pane" id="messages">
					<div class="card card-table mb-0">
						<div class="card-body">
							<div class="table-responsive">
								<table id="msgTab" class="table table-bordered table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Date</th>
											<th>Name</th>
											<th>Phone</th>
											<th>Message</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for val in msgRecieved %}
										<tr>
											<td>{{ val.Date|date:'D, M jS, Y' }}</td>
											<td>
												<h2 class="table-avatar">
													<a href="javascript:void(0);">{{val.Name}}</a>
												</h2>
											</td>
											<td>{{val.Phone}}
												<!-- <span class="d-block text-info">10.00 AM</span> -->
											</td>
											<td class="inline-block text-truncate" style="max-width: 200px;">{{val.Message}}</td>
											<td class="text-right">
												<div class="table-action">
													<a href="javascript:void(0);" onclick="ReadMessageData('Message','{{val.Name}}','{{val.Message}}');" class="btn btn-sm bg-success-light">
														<i class="fas fa-mail-bulk"></i> Read
													</a>
													<a href="javascript:void(0);" onclick="delData('Msg','message','{{val.Name}}'+' on {{val.Date}}'+'','{{val.id}}')" class="btn btn-sm bg-danger-light">
														<i class="fas fa-times"></i> Discard
													</a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Messages Tab -->
			</div>
		</div>
	</div>
</div>
{% endblock content %}
<!-- /page content -->

{% block extra-js %}
 
<!-- Sticky Sidebar JS -->
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'web-assets/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<!-- Circle Progress JS -->
<script src="{% static 'web-assets/assets/js/circle-progress.min.js' %}"></script>

<!-- Datatables JS -->
<script src="{% static 'admin/assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/assets/plugins/datatables/datatables.min.js' %}"></script>
    
<!-- jquery-datatable.js -->
<script src="{% static 'admin/assets/js/pages/tables/jquery-datatable.js' %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static 'web-assets/assets/js/moment.min.js' %}"></script>
<script src="{% static 'web-assets/assets/js/bootstrap-datetimepicker.min.js' %}"></script>


<!-- Custom JS -->
<script src="{% static 'web-assets/assets/js/script.js' %}"></script>

<script>

	$(document).ready(function () {
	  
	  $('#todayApp').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:true,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#upcomingApp').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:false,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#pastAppTab').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:true,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
	  
	  $('#msgTab').DataTable({
		  // destroy : true,  
		  paging: true,
		  ordering: false,
		  info: false,
		  searching:false,
		  bLengthChange: false,
		  pageLength:7,
		  lengthMenu: [ [7, 14, 21, -1], [7, 14, 21, "All"] ]
	  });
 	})

	function delData(data_type,comment,name,id) {
		let msg='None'
		let action='None'
		let other='None'
		if (data_type=='App') { // today/upcoming appointment
			action='cancel'
			other='discard'
			msg=`You want to cancel ${comment} with ${name} from your appointment records?`
		} else {
			action='discard'
			other='cancel'
			msg=`You want to discard this message/enquiry received from ${name} from your inbox?`
		}
		swal({
			title: "Are you sure?",
			text: msg,
			// imageUrl: '',
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: `Yes, ${action}`,
			cancelButtonText: `No, ${other}`,
			closeOnConfirm: false,
			closeOnCancel: true
		}, function (isConfirm) {
			if (isConfirm) {

				$.ajax({
					type: "POST",
					url: "{% url 'web-links' 'delete-app-msg' %}",
					data: {
						Type: data_type,
						Id: id,
						csrfmiddlewaretoken: '{{ csrf_token }}',
						dataType: "json"
					},
					success: function (data) {
						window.parent.showNotification(null, data['message'], 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');
						swal.close();
					},
					error: function (data) {
						swal("Error Occured", "Request aborted, please try again :)", "error");
					}
				});
			}
		});
	}
 
</script>

{% endblock extra-js %}

</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->

</html>